 <div class="col-lg-3 col-sm-6">
    <div class="footer-widget about-widget">
        <h2>LATEST BLOGS</h2>
        <div class="fw-latest-post-widget">
            <div class="lp-item">
                <div class="lp-thumb set-bg" data-setbg="@Url.Content("~/Contents/img/blog-thumbs/1.jpg")"></div>
                <div class="lp-content">
                    <h6>what shoes to wear</h6>
                    <span>Oct 21, 2018</span>
                    <a href="#" class="readmore">Read More</a>
                </div>
            </div>
            <div class="lp-item">
                <div class="lp-thumb set-bg" data-setbg="@Url.Content("~/Contents/img/blog-thumbs/2.jpg")"></div>
                 <div class="lp-content">
                     <h6>trends this year</h6>
                     <span>Oct 21, 2018</span>
                     <a href="#" class="readmore">Read More</a>
                 </div>
             </div>
         </div>
     </div>
 </div>
