@model List<MvcUI.Models.Entities.Menus>
<nav class="main-navbar">
    <div class="container">
        <!-- menu -->
        <ul class="main-menu">
            @foreach (var menu in Model)
            {
                <li>
                    <a href="@menu.MenuUrl">@menu.MenuName</a>
                </li>
            }

        </ul>
    </div>
</nav>