 <div class="col-xl-4 col-lg-5" style="margin-top: 2%;">
    <div class="user-panel">
        <div class="up-item">
            <i class="flaticon-profile"></i>
            <a href="#">Sign</a> In or <a href="#">Create Account</a>
        </div>
        <div class="up-item">
            <div class="shopping-card">
                <i class="flaticon-bag"></i>
                <span>0</span>
            </div>
            <a href="#">Shopping Cart</a>
        </div>
    </div>
</div>