
<section class="banner-section">
    <div class="container">
        <div class="banner set-bg" data-setbg="@Url.Content("~/Contents/img/banner-bg.jpg")">
            <div class="tag-new">NEW</div>
            <span>New Arrivals</span>
            <h2>BABY WEARS</h2>
            <a href="#" class="site-btn">SHOP NOW</a>
        </div>
    </div>
</section>