<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Admin LTE Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; @DateTime.Now.Year <a href="https://suleymanbabaoglu.com.tr">SB</a>.</strong> All Rights Reserved.
</footer>